.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; 
  background-color: rgba(244, 67, 54, 0.8); /* Color rojo con transparencia */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ffcc00; /* Color amarillo - destacado al pasar el mouse */
}

/* Estilos específicos para la página de Pokémon */
.navbar {
  background-image: url('ruta/a/tu/imagen.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #00000070;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
}


